html {
    background-color: hsl(30, 38%, 92%);
    line-height: 1.5;
}
.container {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 6.25%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

@media screen and (min-width: 940px) {
    .container {
        max-width: 940px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
    }

}

.image {
    width: 375px;
    height: 250px;
    background: url(../images/image-product-mobile.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
@media screen and (min-width: 940px) {
    .image {
        background: url(../images/image-product-desktop.jpg) no-repeat;
        background-size: cover;
        border-radius: 10px 0 0 10px;
        height: 600px;
        flex: 1;
        border-radius: 20px 0 0 20px;
    }
}
.image p {
    overflow: hidden;
    visibility: hidden;
}
.textarea {
    padding: 0 20px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.textarea .pef {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
 }
.textarea .main {
    font-family: Fraunces, sans-serif;
    font-weight:700;
    font-size: 40px;
    line-height: 0.8;
}

@media screen and (min-width: 940px) {
    .textarea {
        flex: 1;
        padding: 40px;
        box-sizing: border-box;
        font-size: 25px;
        height: 600px;
        box-sizing: border-box;
    }
    .textarea .main {
        font-size: 45px;
    }    
}
.price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.price .pricebox:nth-child(1) {
     margin-right: 10px;
     font-size: 30px;
     font-weight: bold;
     color: hsla(165, 77%, 22%, 0.932);
}
@media screen and (min-width: 940px) {
    .price .pricebox:nth-child(1) {
        font-family: Fraunces, sans-serif;
        font-size: 40px;
    }
}
.price .pricebox:nth-child(2) {
    text-decoration: line-through;
    font-size: 20px;
    margin-left: 15px;
}
.button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    padding: 15px 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .button:hover {
    background-color: hsl(158, 36%, 20%);
  }
  .button img {
    margin-right: 10px;
  }